@use 'helpers' as *;

body {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	color: var(--color-dark);
	font-size: rem(17);
}

a {
	color: var(--color-dark);
	text-decoration: none;
}