@use 'helpers' as *;

:root {
	--accent-color: #6E9C9F;
	--color-light: #FFFFFF;
	
	--color-dark: #141414;
	
	--gradient: linear-gradient(
			45deg,
			var(--color-dark-15) 64%,
			var(--color-accent) 136%
	);
	
	--border: #{rem(1)} solid var(--color-dark-15);
	
	--shadow: 0 0 0 #{rem(3)} #191919;
	
	--font-family-base: 'Inter', sans-serif;
	--font-family-accent: 'Kumbh Sans', sans-serif;
	
	--container-width: #{rem(1600)};
	--container-padding-x: #{rem(16)};
	
	--transition-duration: 0.2s;
	
	--100vw: calc(100vw - var(--scrollbar-width));
	
	@include laptop {
		--container-width: #{rem(1280)};
	}
}
