@use 'helpers' as *;

:root {
	--accent-color: #6E9C9F;
	--hover-color: #509498;
	--section-color: #F1EADC;
	
	--color-light: #FFF;
	--aditional-color: #998E78;
	--crossed-color: #9C9C9C;
	
	--color-dark: #000;
	
	--border: #{rem(1)} solid var(--accent-color);
	
	--shadow: 0 0 0 #{rem(3)} #191919;
	
	--font-family: 'Raleway';
	
	--container-width: #{rem(1110)};
	--container-padding-x: #{rem(0)};
	
	--transition: 0.5s ease;
	
	--100vw: calc(100vw - var(--scrollbar-width));
}
