@use '/src/styles/helpers' as *;

.header {
	padding: rem(51) 0 rem(41);
	background-color: #fff;
	
	&__nav {
		display: flex;
		max-width: rem(1110);
		width: 100%;
		justify-content: space-between;
		margin: 0 auto;
		
		&-list {
			display: flex;
			list-style: none;
			gap: rem(45);
			margin: 0;
			padding: 0;
		}
	}
	
	&__phone-wrapper {
		display: flex;
	}
}