@use '/src/styles/helpers' as *;

.header {
	position: fixed;
	top: 0;
	padding: rem(35) 0;
	background-color: #fff;
	margin: 0 auto;
	width: 100%;
	box-shadow: 0 rem(4) rem(15) 0 rgba(0, 0, 0, 0.1);
	
	& .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	&__phone-wrapper {
		display: flex;
		color: var(--accent-color);
		font-size: rem(15);
		font-weight: 400;
		
		& a {
			width: rem(129);
			margin-left: rem(9);
		}
	}
}