@use '/src/styles/helpers' as *;

.button {
  padding: rem(22) rem(50);
  border: none;
  background-color: var(--accent-color);
}

.primary {
  background-color: var(--accent-color);
	color: var(--color-light);
}

.outlined {
  border : var(--border);
	color: var(--accent-color);
}