@use '/src/styles/helpers' as *;

.button {
  padding: rem(22) rem(50);
  color: #FFF;
  border: none;
  background-color: var(--accent-color);
}

.primary {
  background-color: var(--accent-color);
}

.outlined {
  border : 1px solid var(--accent-color);
}