@use '/src/styles/helpers' as *;

.footer {
	background-color: var(--section-color);
	padding: rem(100) 0;
	font-size: rem(15);
	
	&-inner {
		display: flex;
		justify-content: space-between;
	}
	
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}