@use '/src/styles/helpers' as *;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 65%;
	font-size: rem(15);
	font-weight: 400;
	
	.brand-wrapper {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		gap: rem(60);
	}
	
	.copyright {
		display: flex;
		flex-direction: column;
		
		&, small {
			font-size: rem(13);
		}
	}
	
	&__item {
		color: var(--color-dark);
	}
	
	&__sub-item {
		display: flex;
		flex-direction: column;
		font-size: rem(13);
		margin-top: rem(40);
	}
	
	&__list {
		display: flex;
		list-style: none;
		gap: rem(45);
		margin: 0;
		padding: 0;
		
		& .active a {
			font-weight: 700;
			color: var(--accent-color);
		}
	}
}